/* Navbar styling */
.navbar {
    background-color: black;
}

.nav-link {
    color: white !important;
    font-weight: bold;
}

.nav-link:hover {
    background-color: red;
    color: white;
}

/* Map container */
#map {
    height: 600px;
}
